body { /*Customização da área central do site*/
    margin: 0%;
    background: linear-gradient(#fe5f2f);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header { /*Customização Cabeçalho*/
    background-color: #333333 ;
    text-align: justify ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: fit-content;
}
.logo { /*Customização logo*/
    flex: 1 1;
    width: auto;
    max-width: 400px;
}
nav {
    color: #ffffff;
    position: absolute;
    right: 10%;
    font-size: 35px;
}
nav li{
    display: inline;
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}
.banner {
    width: 100%;
    height: 35%;
    object-fit: cover;
}
.divHeader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}
.divConteudo {
    text-align: center;
}
.sobre_nos {
    width: 60%;
    text-align: justify;
    line-height: 1.5;
    margin-left: 20%;
}
.img_sobre_nos {
    width: 15%;
    float: left;
    margin-right: 20px;
}
.titulo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
footer{
    padding: 30px 10px 10px 0;
    background-size: cover;
    background-position: top;
    background-color: rgb(0, 0, 0, 6);
    background-blend-mode: darken;
    background-color: #333333;
}
.logo_footer{
    width: 10%;
}
.nossosprodutos{
    padding: 2%;
    background: linear-gradient(#fe5f2f);
}
.div_nossosprodutos{
    width: 80%;
    margin-left: 10%;
}
.lista_nossosprodutos{
    width: 30%;
    display: flex;
    vertical-align: "top";
    list-style: none;
}
.lista_nossosprodutos li{
    line-height: 2;
}
.lista_nossosprodutos li:before{
    content: ">>>";
}
.img_nossosprodutos{
    width: 70%;
    border-radius: 4px;
    box-shadow: 10px 10px 5px 0px #000000;
    opacity: 1;
    transition: 400ms;
}
.img_nossosprodutos:hover{
    opacity: 0.5;
    cursor: pointer;
}
.mapa{
    text-align: center;
}
.capa_jogo{
    width: 50%;
    margin: 5px;
}
.jogos{
    background-color: #333333;
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 3px;
}
.div_texto_jogo{
    max-width: 600px;
    color: #ffffff;
    font-size: 25px;
}
.conteudo{
    display: flex;
}
